aside
  article.bg-grey
    h4.small-dark-title Interviews
    .embed-responsive.embed-responsive-16by9
      <iframe width="560" height="315" src="//www.youtube.com/embed/wzAWI9h3q18" frameborder="0" allowfullscreen></iframe>
  
    h2 Well, do ya???
    p.text-muted Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
    .row.text-muted
      .col-sm-6 leppsdf 12/12/12
        
      .col-sm-6
        .glyphicon.glyphicon-user
        |  name of person
  
  
  hr
  
  article
    h4.small-dark-title Interviews
    
    +mediaobject("Hey there")
    +mediaobject("I love spiderman")
    +mediaobject("Your mom said whatup!?!")
    +mediaobject("I know you")
  
  hr
  
  article
    h2 Fil d'info
    
    a(href="") Locants
    Strong Etand, sletuds
    p.text-muted Magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    a(href="") Locants
    Strong Etand, sletuds
    p.text-muted Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
    
    
    
    
    
    
    
    