doctype html
html(lang="en")
  head
    title Foundation Grid
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css")
    link(rel="stylesheet", href="css/styles.css")
    
  body
    
    .row
      .column.small-4
        h1 SiteName
        
      .column.small-8
        ul.inline-list.right.top-actions
          li: a.fi-mail(href="")  Newsletter
          li: a.fi-rss(href="")  RSS
          li |
          li: form.row.collapse
            .column.small-4: label Recgsetv
            .column.small-6: input(type="text")
            .column.small-2: a.button.postfix(href="") Go
    
    .row
      .column.small-12
        dl.sub-nav
          dd.active: a(href="") Home
          dd: a(href="") Comics
          dd: a(href="") Movies
          dd: a(href="") Concerts
          dd: a(href="") YouTube
    
    
    .row
      .column.small-12.medium-7.large-5
        include includes/col-1
        
      .column.small-12.medium-5.large-4.ruled
        include includes/col-2
      
      .column.small-12.large-3
        include includes/col-3
    
    
    footer
      .row
        .column.small-12: hr(style="border-width: 6px 0 0")
    
      .row
        .column.small-2
          strong Rubicon
          ul.square
            li In pelle
            li at nulla
            li justo, eget
            li luctus tortor.
        
        .column.small-2
          strong Rubicon
          ul.square
            li In pelle
            li at nulla
            li justo, eget
            li luctus tortor.
        
        .column.small-2
          strong Rubicon
          ul.square
            li In pelle
            li at nulla
            li justo, eget
            li luctus tortor.
            
        .column.small-2
          strong Rubicon
          ul.square
            li In pelle
            li at nulla
            li justo, eget
            li luctus tortor.
            
        
        .column.small-2.end
          strong Rubicon
          ul.square
            li In pelle
            li at nulla
            li justo, eget
            li luctus tortor.
      
    
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
          