article
  h4 Teret par Expertises
  ul.square
    li Mauris iaculis
    li porttitor posuere
    li Praesent
    li metus massa
  hr


article.tint-box
  .lead WEBZINE
  strong EDCOF357
  
  p.muted ENTEDI <br> Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  p.muted QUESTIONS <br> Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  
  
article.tint-box
  .lead WEBZINE
  strong Actions Communes
  
  p: img(src="http://www.fillmurray.com/g/500/800")
  
article.tint-box
  strong labore et dolore magna aliqua