article
  h4.black-box A la lune
  div
    strong Sutesdf
    span.muted  | publdae 12/25/07
  h3 Vulpa qui officia deserunt mollit anim id est laborum.
  p.muted Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
  .row
    .column.small-4
      span.fi-folder  Viowr
    .column.small-8
      ul.inline-list
        li: span.fi-pricetag-multiple
        li: a(href="") in
        li: a(href="") culpa
        li: a(href="") qui
        li: a(href="") officia

    .column.small-12: hr



article
  .black-box WEBZONE
    strong  EDODES25
  a(href="")  Sutesdf
  span.muted  | publdae 12/25/07
  h3 Daute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
  p.muted Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
  .row
    .column.small-4
      span.fi-folder  Viowr
    .column.small-8
      ul.inline-list
        li: span.fi-pricetag-multiple
        li: a(href="") in
        li: a(href="") culpa
        li: a(href="") qui
        li: a(href="") officia

    .column.small-12: hr



article
  strong Sutesdf
  span.muted  | publdae 12/25/07
  h3 Velit esse cillum dolore.
  p: img(src="http://fillmurray.com/g/600/250")
  p.muted Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
  .row
    .column.small-4
      span.fi-folder  Viowr
    .column.small-8
      ul.inline-list
        li: span.fi-pricetag-multiple
        li: a(href="") in
        li: a(href="") culpa
        li: a(href="") qui
        li: a(href="") officia

    .column.small-12: hr



article
  strong Sutesdf
  span.muted  | publdae 12/25/07
  h3 Etiam at risus et justo dignissim congue.

  p.muted Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
  .row
    .column.small-4
      span.fi-folder  Viowr
    .column.small-8
      ul.inline-list
        li: span.fi-pricetag-multiple
        li: a(href="") in
        li: a(href="") culpa
        li: a(href="") qui
        li: a(href="") officia


    