article.tint-box.full-bleed
  h4.black-box Interviews
  .flex-video: <iframe src="//www.youtube.com/embed/3iBaKbGqlUs" frameborder="0" allowfullscreen></iframe>
  h3 Vulpa qui officia deserunt mollit anim id est laborum.
  p.muted Duis aute irure dolor in reprehenderit in voluptate velit esse.
  
  .row
    .column.small-4
      span.fi-folder  Viowr
    .column.small-8
      ul.inline-list
        li: span.fi-pricetag-multiple
        li: a(href="") in
        li: a(href="") culpa
        li: a(href="") qui
        li: a(href="") officia



article
  h4.black-box Agenda
  
  .row.collapse
    .column.small-4
      img(src="http://www.fillmurray.com/g/206/200", style="padding-right: 10px")
    .column.small-8
      strong Legit Murray
      p Excepteur sint occaecat cupidatat non proident, sunt in.

  .row.collapse
    .column.small-4
      img(src="http://www.fillmurray.com/g/203/200", style="padding-right: 10px")
    .column.small-8
      strong Legit Murray
      p Excepteur sint occaecat cupidatat non proident, sunt in.

  .row.collapse
    .column.small-4
      img(src="http://www.fillmurray.com/g/202/200", style="padding-right: 10px")
    .column.small-8
      strong Legit Murray
      p Excepteur sint occaecat cupidatat non proident, sunt in.

  .row.collapse
    .column.small-4
      img(src="http://www.fillmurray.com/g/207/200", style="padding-right: 10px")
    .column.small-8
      strong Legit Murray
      p Excepteur sint occaecat cupidatat non proident, sunt in.

  
  hr
  
  
  
article

  h3 Fil d'info

  div: a(href="") laborum
  strong Estaism ornamy skfgg
  p.muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.

  div: a(href="") laborum
  strong Estaism ornamy skfgg
  p.muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
  
  
  
  
  
  
  
  
  
  
  