aside
  article
    h2 Terir par Experteses
    ul
      li Lorem ipsum dolor 
      li sit amet, consectetur 
      li adipisicing elit, sed 
      li do eiusmod tempor incididunt 
      li ut labore et dolore magna aliqua
  
  hr
  
  article.bg-grey
    .lead Webzine
    h4 EFGD4DSA
    
    p.text-muted Educudas
    p.text-muted Non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
  hr(style="border: none")
  
  article.bg-grey
    .lead Webzine
    h4 EFGD4DSA
    
    img.flex(src="http://placehold.it/400x200")
    
    p.text-muted Educudas
    p.text-muted Non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
  hr(style="border: none")
  
  article.bg-grey
    .lead Webzine
    h4 EFGD4DSA
    
    p.text-muted Educudas
  
  hr(style="border: none")
    
    
    