//- declaring variables for easier use with loops
- var aside_article_var = ['Lorem ipsum dolor','sit amet, consectetur','adipisicing elit, sed','do eiusmod tempor incididunt','ut labore et dolore magna aliqua']
aside
  article
    h2 Terir par Experteses
    ul
      each val in aside_article_var
        li= val

  hr

  article.bg-grey
    .lead Webzine
    h4 EFGD4DSA

    p.text-muted Educudas
    p.text-muted Non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  hr(style="border: none")

  article.bg-grey
    .lead Webzine
    h4 EFGD4DSA

    img.flex(src="http://placehold.it/400x200")

    p.text-muted Educudas
    p.text-muted Non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  hr(style="border: none")

  article.bg-grey
    .lead Webzine
    h4 EFGD4DSA

    p.text-muted Educudas

  hr(style="border: none")



