//- declaring variables for easier use with loops
- var footerunit_var = ['kdlaksi','jrkhnw wlo','simwenfu','whdj ggd','jekwls gi']
- var tagblock_var = ['lorem','lorem','lorem']

mixin tagblock()
  .row.text-muted
    .col-sm-4
      .glyphicon.glyphicon-time
      |  3 days ago
    .col-sm-8
      .glyphicon.glyphicon-tags
      strong  Tags:
        a(href="")=  tagblock_var[0]
        | ,
        a(href="")=  tagblock_var[1]
        | ,
        a(href="")=  tagblock_var[2]



mixin mediaobject(title)
  .media
    a.media-left(href="")
      img.img-circle(src="http://placehold.it/60x60" alt="...")

    .media-body
      h4.media-heading #{title}
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


mixin footerunit
  .col-sm-2
    h4 Hey there Buddy
    ul
      each val in footerunit_var
        li= val




